{% extends 'loginregister.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="form">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="linkSection"><a href="/">Home</a> <a href="/login">Log In</a></div>
    <div class="heading"><h1>Register</h1></div>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.province) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="loginButton"><button type="submit">Register</button></div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
