{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/ajax.css">
{% endblock %}

{% block body %}

<h2> Delete Tournament </h2>

<h3>{{tournament.title}} - by {{tournament.creatorUser.username}}</h3>
<p>{{ tournament.description }}</p>
<p>VideoGame: {{ tournament.videogame }}</p>
<p>Places: {{tournament.players|length}}/20</p>
<h4>{{tournament.startDate|date('Y-m-d  H:i:s') }}</h4>

<hr>

<br><br><a class="deletetournament">Delete Tournament</a>


{% endblock %}

{% block javascripts %}
    <script src="/js/ajax.js"></script>
{% endblock %}