{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/ajax.css">
{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">

<main>
    <div class="mainHeader">
        <div class="mainHeaderTitle"><h1>Finish Tournament</h1></div>
    </div>

    <div class="finishTournament">
        <div class="finishForm">
            <div class="selectWinners">
                <h3>Select Winners</h3>
            </div>
            <div class="firstPlace">
                <h4>First Place</h4>
                <select id="firstPlace" name="firstPlace">
                    {% for player in tournament.players %}
                        <option value="{{player.id}}">{{player.email}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="secondPlace">
                <h4>Second Place</h4>
                <select id="secondPlace" name="secondPlace">
                    {% for player in tournament.players %}
                        <option value="{{player.id}}">{{player.email}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="thirdPlace">
                <h4>Third Place</h4>
                <select id="thirdPlace" name="thirdPlace">
                    {% for player in tournament.players %}
                        <option value="{{player.id}}">{{player.email}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="fourthPlace">
                <h4>Fourth Place</h4>
                <select id="fourthPlace" name="fourthPlace">
                    {% for player in tournament.players %}
                        <option value="{{player.id}}">{{player.email}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="finishButton">
                <input type="hidden" id="tournamentId" value="{{tournament.id}}">
                <a class="finishtournament ">Finish</a>
            </div>
        </div>
    </div>

</main>














</div>

{% endblock %}

{% block javascripts %}
    <script src="/js/ajax.js"></script>
{% endblock %}