{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/ajax.css">
{% endblock %}

{% block body %}

<h2> Finish Tournament </h2>

<h3>{{tournament.title}} - by {{tournament.creatorUser.username}}</h3>
<p>{{ tournament.description }}</p>
<p>VideoGame: {{ tournament.videogame }}</p>
<p>Places: {{tournament.players|length}}/20</p>
<h4>{{tournament.startDate|date('Y-m-d  H:i:s') }}</h4>

<hr>

<h3>Select Winners</h3>
<h4>First Place</h4>
<select id="firstPlace" name="firstPlace">
    {% for player in tournament.players %}
        <option value="{{player.id}}">{{player.email}}</option>
    {% endfor %}
</select>

<h4>Second Place</h4>
<select id="secondPlace" name="secondPlace">
    {% for player in tournament.players %}
        <option value="{{player.id}}">{{player.email}}</option>
    {% endfor %}
</select>

<h4>Third Place</h4>
<select id="thirdPlace" name="thirdPlace">
    {% for player in tournament.players %}
        <option value="{{player.id}}">{{player.email}}</option>
    {% endfor %}
</select>

<h4>Fourth Place</h4>
<select id="fourthPlace" name="fourthPlace">
    {% for player in tournament.players %}
        <option value="{{player.id}}">{{player.email}}</option>
    {% endfor %}
</select>

<input type="hidden" id="tournamentId" value="{{tournament.id}}">

<br><br><a class="finishtournament fakelink">Finish Tournament</a>


{% endblock %}

{% block javascripts %}
    <script src="/js/ajax.js"></script>
{% endblock %}