{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<h1>Tournament Master</h1>
{% if is_granted("ROLE_USER") %}
    Hello, {{app.user.email}} - <a href="/logout">Logout</a><br>
    <a href="/myprofile">My profile</a>
{% else %}
    <a href="/register">Register</a> or <a href="/login">Login</a>
{% endif %}
<br>
<a href="/seeallprovinces">See All Provinces</a>
{% if is_granted("ROLE_USER") %}
    <br><a href="/mytournaments">My Tournaments</a>
{% endif %}
<br>
{% if is_granted("ROLE_ADMIN") %}
    <a href="/verifyusers">Verify users</a><br>
    <a href="/adminpage">Admin Page</a>
{% endif %}
<hr>
{% if is_granted("ROLE_USER") %}
    {% if app.user.verified == true %}
        <a href="/tournament/new">Create New Tournament</a>
    {% endif %}
{% endif %}
<h2>Tournaments</h2>
<ul>
{% for tournament in tournaments %}
    <li>
        <h3><a href="/seetournament/{{tournament.id}}">{{tournament.title}}</a> - by {{tournament.creatorUser.username}}</h3>
        <p>{{ tournament.description|length > 50 ? tournament.description|slice(0, 50) ~ '...' : tournament.description  }}</p>
        <p>Places: {{tournament.players|length}}/20</p>
        <h4>Start Date: {{tournament.startDate|date('Y-m-d  H:i:s') }}</h4>
        {% if is_granted("ROLE_USER") %}
            {% if app.user.verified == true %}
                {% if app.user.id != tournament.creatorUser.id %}
                    {% if date() < date(tournament.startDate) %}
                        {% if tournament.players|length < 20 %}
                            {% if app.user not in tournament.players %}
                                <a href="/signuptotournament/{{tournament.id}}">Sign Up</a>
                            {% else %}
                                You already Signed Up to this Tournament.
                            {% endif %}
                        {% else %}
                            You can't Sign Up to this Tournament because there's no more places left. Max 20 players per tournament.
                        {% endif %}
                    {% else %}
                        You can't Sign Up to this Tournament the date to Sign Up has expired. You have to Sign Up before the Start Date.
                    {% endif %}
                {% else %}
                    You can't Sign Up to your own Tournament.<br><br>
                    {% if date() > date(tournament.startDate) %}
                        <a href="/finishtournament/{{tournament.id}}">Finish Tournament</a>
                    {% endif %}
                {% endif %}
            {% else %}
                You can't Sign Up to this Tournament because you're not a verified user.
            {% endif %}
        {% else %}
            Login to be able to Sign Up to this Tournament.
        {% endif %}
        
    </li>
{% endfor %}
</ul>

{% endblock %}
