{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>


<h2>My Points</h2>

{% if myPoints == null %}
    <p>There aren't any recorded Points...</p>
{% else %}
    <ul>
    {% for point in myPoints %}
        <li>
            <h4><a href="/seetournament/{{point.tournament.id}}">{{point.tournament.title}}</a> - by {{point.tournament.creatorUser.username}}</h4>
            <p>+ {{point.amount}} points</p>
            <h5>{{point.datetime|date('Y-m-d  H:i:s')}}</h5>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}