{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">

<main>
    <div class="mainHeader">
        <div class="mainHeaderTitle"><h1>My Profile</h1></div>
    </div>
    <div class="mainProfile">
        <div class="mainProfileInfo">
            <div class="mainProfileInfoImage">
                <div>
                    {% if app.user.profilePicture == null %}
                        <img src="/img/default.jpg"/> 
                    {% else %}
                        <img src="/img/{{app.user.profilePicture}}"/>
                    {% endif %}
                </div>
            </div>
            <div class="mainProfileInfoName">
                <h3>{{app.user.name}}, {{app.user.surname}}</h3>
            </div>
            <div class="mainProfileInfoVerified">
                <p>{{app.user.verified ? "Your account is verified. <i class='fas fa-check'></i>" : "Your account hasn't been verified yet. <i class='fas fa-times'></i>" }}</p>
            </div>
            <div class="mainProfileInfoDNI">
                <div class="right"><p><b>DNI:</b></p></div> <div class="left"><p>{{app.user.dni != null ? app.user.dni : "You haven't introduced your DNI yet." }}</p></div>
            </div>
            <div class="mainProfileInfoProvince">
                <div class="right"><p><b>Province:</b></p></div> <div class="left"><p>{{app.user.province}}</p></div>
            </div>
            <div class="mainProfileInfoEmail">
                <div class="right"><p><b>Email:</b></p></div> <div class="left"><p>{{app.user.email}}</p></div>
            </div>
        </div>
        <div class="mainProfileForm">
            <div class="profile">
                {{ form_start(profileForm) }}
                    <div class="inputs">
                        {{ form_row(profileForm.name) }}
                        {{ form_row(profileForm.surname) }}
                        {{ form_row(profileForm.profilePicture) }}
                        {{ form_row(profileForm.dni) }}
                        {{ form_row(profileForm.province) }}
                    </div>
                    <div class="saveButton"><button class="btn">{{ button_label|default('Change Data') }}</button></div>
                {{ form_end(profileForm) }}
            </div>

            <div class="email">
                {{ form_start(emailForm) }}
                    <div class="inputs">
                        {{ form_row(emailForm.oldEmail) }}
                        {{ form_row(emailForm.newEmail) }}
                    </div>
                    <div class="saveButton"><button class="btn">{{ button_label|default('Change Email') }}</button></div>
                {{ form_end(emailForm) }}
            </div>

            <div class="password">
                {{ form_start(passwordForm) }}
                    <div class="inputs">
                        {{ form_row(passwordForm.oldPassword) }}
                        {{ form_row(passwordForm.newPassword) }}
                    </div>
                    <div class="saveButton"><button class="btn">{{ button_label|default('Change Password') }}</button></div>
                {{ form_end(passwordForm) }}
            </div>
        </div>
    </div>

</main>


    
</div>

{% endblock %}

{% block javascripts %}
    <script src="/js/profile.js"></script>
{% endblock %}
