{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}


<h2>Created Tournaments</h2>
{% for t in app.user.createdTournaments|slice(0, 10) %}
    <h3>{{t.title}} - by {{t.creatorUser.username}}</h3>
    <p>{{ t.description|length > 20 ? t.description|slice(0, 20) ~ '...' : t.description  }}</p>
    <p>VideoGame: {{ t.videogame }}</p>
    <p>Places: {{t.players|length}}/20</p>
    <h4>Start Date: {{t.startDate|date('Y-m-d  H:i:s') }}</h4>
{% endfor %}
<a href="/createdtournaments">See All Created Tournaments</a>

<h2>Pending Tournaments</h2>
{% for t in pending|slice(0, 10) %}
    <h3>{{t.title}} - by {{t.creatorUser.username}}</h3>
    <p>{{ t.description|length > 20 ? t.description|slice(0, 20) ~ '...' : t.description  }}</p>
    <p>VideoGame: {{ t.videogame }}</p>
    <p>Places: {{t.players|length}}/20</p>
    <h4>Start Date: {{t.startDate|date('Y-m-d  H:i:s') }}</h4>
{% endfor %}
<a href="/pendingtournaments">See All Pending Tournaments</a>

<h2>Tournaments In Progress</h2>
{% for t in inprogress|slice(0, 10) %}
    <h3>{{t.title}} - by {{t.creatorUser.username}}</h3>
    <p>{{ t.description|length > 20 ? t.description|slice(0, 20) ~ '...' : t.description  }}</p>
    <p>VideoGame: {{ t.videogame }}</p>
    <p>Places: {{t.players|length}}/20</p>
    <h4>Start Date: {{t.startDate|date('Y-m-d  H:i:s') }}</h4>
{% endfor %}
<a href="/tournamentsinprogress">See All Tournaments In Progress</a>

<h2>Finished Tournaments</h2>
{% for t in finished|slice(0, 10) %}
    <h3>{{t.title}} - by {{t.creatorUser.username}}</h3><p>{{ t.description|length > 20 ? t.description|slice(0, 20) ~ '...' : t.description  }}</p>
    <p>VideoGame: {{ t.videogame }}</p>
    <p>Places: {{t.players|length}}/20</p>
    <h4>Start Date: {{t.startDate|date('Y-m-d  H:i:s') }}</h4>
{% endfor %}
<a href="/finishedtournaments">See All Finished Tournaments</a>


{% endblock %}