{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">

<main>
    <div class="mainHeader">    
        <div class="mainHeaderTitle"><h1>Ranking of {% if province != null %}{{province}} {% endif %}{% if videogame != null %}{{videogame}} {% endif %}{% if year != "null" %}{{year}}{% endif %}</h1></div>
    </div>

    <div class="mainSearch">
        <div class="mainSearchSelect">
            <div><span>Province: </span><select id="province" name="province">
                <option disabled selected value> -- Select A Province -- </option>
                {% for province in allProvinces %}
                    <option value="{{province.id}}">{{province}}</option>
                {% endfor %}
            </select></div> 

            <div><span>VideoGame: </span><select id="videogame" name="videogame">
                <option disabled selected value> -- Select A VideoGame -- </option>
                {% for videogame in allVideoGames %}
                    <option value="{{videogame.id}}">{{videogame}}</option>
                {% endfor %}
            </select></div>

            <div><span>Year: </span><select id="year" name="year">
                <option disabled selected value> -- Select A Year -- </option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select></div>
        </div>

        <div class="mainSearchButton"><a id="searchRanking">Ranking Search</a></div>
    </div>

    {% if rankingUsers == null %}
        <div class="notFound"><p>No users were found...</p></div>
    {% else %}
        <div class="mainRanking">
            {% for i in 0..(rankingUsers|length - 1) %}
            <div class="rankingItem">
                <div class="rankingItemPosition">
                    <h3>{{ "%04d"|format(i+1) }}.</h3>
                </div>
                <div class="rankingItemPoints">
                    <p>{{rankingUsers[i].totalAmount}}</p>
                </div>
                <div class="rankingItemUser">
                    <p>{{rankingUsers[i].email}}  </p>
                </div>
                <div class="rankingItemImage">
                    <div>
                        {% if rankingUsers[i].profilePicture == null %}
                            <img src="/img/default.jpg"/> 
                        {% else %}
                            <img src="/img/{{rankingUsers[i].profilePicture}}"/>
                        {% endif %}
                    </div>
                </div>                
            </div>            
            {% endfor %}
        </div>
    {% endif %}

</main>

</div>

{% endblock %}

{% block javascripts %}
    <script src="/js/ranking.js"></script>
{% endblock %}
