{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<h2>Ranking of {{province}}, {{videogame}}, {{year}}</h2>

Province: <select id="province" name="province">
    <option disabled selected value> -- Select A Province -- </option>
    {% for province in allProvinces %}
        <option value="{{province.id}}">{{province}}</option>
    {% endfor %}
</select> 

VideoGame: <select id="videogame" name="videogame">
    <option disabled selected value> -- Select A VideoGame -- </option>
    {% for videogame in allVideoGames %}
        <option value="{{videogame.id}}">{{videogame}}</option>
    {% endfor %}
</select> 

Year: <select id="year" name="year">
    <option disabled selected value> -- Select A Year -- </option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
</select>

<button id="searchRanking">Search</button>


{% if rankingUsers == null %}
    <p>No users were found...</p>
{% else %}
    <ul>
        {% for i in 0..(rankingUsers|length - 1) %}
        <li>
        <h3>{{ "%04d"|format(i+1) }}. 
            {% if rankingUsers[i].profilePicture == null %}
                <img src="/img/default.jpg" width="30px"/> 
            {% else %}
                <img src="/img/{{rankingUsers[i].profilePicture}}" width="30px"/>
            {% endif %}
            {{rankingUsers[i].email}} - {{rankingUsers[i].totalAmount}} </h3>
        </li>            
        {% endfor %}
    </ul>
{% endif %}



{% endblock %}

{% block javascripts %}
    <script src="/js/ranking.js"></script>
{% endblock %}
