{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>


<h2>All Videogames</h2>
<div>
{% for videogame in videogames %}
    <div>
        <h3><a href="/seevideogame/{{videogame.id}}">{{videogame.title}}</a></h3>
        <img src="/img/{{videogame.image}}"/>
        <p>{{videogame.ageRating}}</p>
        <p>{{videogame.description}}</p>
        <p><a href="{{videogame.link}}">Website</a></p>
    </div>
{% endfor %}
</div>

{% endblock %}
