{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<h2>All Videogames</h2>
<div class="row">
{% for videogame in videogames %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <h3><a href="/seevideogame/{{videogame.id}}">{{videogame.title}}</a></h3>
        <img src="/img/{{videogame.image}}" class="w-100"/>
        <p>{{videogame.ageRating}}</p>
        <p>{{videogame.description}}</p>
        <p><a href="{{videogame.link}}">Website</a></p>
    </div>
{% endfor %}
</div>

{% endblock %}
