{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>


<h2>{{tournament.title}} - by {{tournament.creatorUser.username}}</h2>
{{ tournament.finished == true ? "<i><u>This tournament has finished.</i></u><br>" : "" }}
<p>{{ tournament.description|length > 50 ? tournament.description|slice(0, 50) ~ '...' : tournament.description  }}</p>
<p>VideoGame: {{ tournament.videogame }}</p>
<p>Places: {{tournament.players|length}}/20</p>
<h4>Start Date: {{tournament.startDate|date('Y-m-d  H:i:s') }}</h4>
{% if is_granted("ROLE_USER") %}
    {% if app.user.id != tournament.creatorUser.id %}
        {% if tournament.finished == false %}
            {% if app.user not in tournament.players %}
                {% if app.user.verified == true %}
                    {% if date() < date(tournament.startDate) %}
                        {% if tournament.players|length < 20 %}
                            <a href="/signuptotournament/{{tournament.id}}">Sign Up</a>
                        {% else %}
                            You can't Sign Up to this Tournament because there's no more places left. Max 20 players per tournament.
                        {% endif %}
                    {% else %}
                        You can't Sign Up to this Tournament the date to Sign Up has expired. You have to Sign Up before the Start Date.
                    {% endif %}
                {% else %}
                    You can't Sign Up to this Tournament because you're not a verified user.
                {% endif %}
            {% else %}
                You already Signed Up to this Tournament.
            {% endif %}
        {% else %}
            You can't Sign Up to a finished Tournament.
        {% endif %}
    {% else %}
        {% if tournament.finished == true %}
            Your tournament has finished, you can't finish it or delete it.<br><br>
        {% elseif date() > date(tournament.startDate) %}
            You can't Sign Up to your own Tournament.<br><br>
            <a href="/finishtournament/{{tournament.id}}">Finish Tournament</a>
        {% elseif date() < date(tournament.startDate) %}  
            You can't Sign Up to your own Tournament.<br><br>
            <a href="/deletetournament/{{tournament.id}}">Delete Tournament</a>  
        {% endif %}
    {% endif %}
{% else %}
    Login to be able to Sign Up to this Tournament.
{% endif %}
<p>First Place User wins: 500 points<br> 
Second Place User wins: 350 points<br> 
Third Place User wins: 200 points<br> 
Fourth Place User wins: 100 points</p>

{% endblock %}