<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <link rel="stylesheet" href="/css/main.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
    </head>
    <body>
    

        <div>
            <div>
                <h1>Tournament Master</h1>
                <div>
                    {% if is_granted("ROLE_USER") %}
                        Hello, {{app.user.email}} - <a href="/logout">Logout</a>
                    {% else %}
                        <a href="/register">Register</a> or <a href="/login">Login</a>
                    {% endif %}
                </div>
            </div>

            <div>
                <a href="/">Home</a>
                <a href="/seeallprovinces">Provinces</a>
                <a href="/seeallvideogames">Videogames</a>
                <a href="/globalranking">Global Ranking</a>
                {% if is_granted("ROLE_USER") %}
                    <a href="/mytournaments">My Tournaments</a>
                    <a href="/myprofile">My Profile</a>
                    <a href="/mypoints">My Points [{{totalPoints}}] </a> 
                    <a href="/mynotifications">Notifications ({{unseen|length}})</a> 
                {% endif %}
                
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="/verifyusers">Verify users</a>
                    <a href="/adminpage">Admin Page</a>
                {% endif %}
            </div>
        </div>
        <div>
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
