<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <h1>Tournament Master</h1>
        {% if is_granted("ROLE_USER") %}
            Hello, {{app.user.email}} - <a href="/logout">Logout</a><br>
            <a href="/myprofile">My Profile</a><br>
             <a href="/mypoints">My Points</a> [{{totalPoints}}]<br>
            <a href="/mynotifications">Notifications</a> ({{unseen|length}})
        {% else %}
            <a href="/register">Register</a> or <a href="/login">Login</a>
        {% endif %}
        <br>
        <a href="/">Home Page</a><br>
        <a href="/seeallprovinces">See All Provinces</a>
        {% if is_granted("ROLE_USER") %}
            <br><a href="/mytournaments">My Tournaments</a>
        {% endif %}
        <br>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="/verifyusers">Verify users</a><br>
            <a href="/adminpage">Admin Page</a>
        {% endif %}
        <hr>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
