{% extends 'base.html.twig' %}

{% block title %}VideoGame index{% endblock %}

{% block body %}
    <h1>VideoGame index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>Link</th>
                <th>AgeRating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video_game in video_games %}
            <tr>
                <td>{{ video_game.id }}</td>
                <td>{{ video_game.title }}</td>
                <td>{{ video_game.image }}</td>
                <td>{{ video_game.description }}</td>
                <td>{{ video_game.link }}</td>
                <td>{{ video_game.ageRating }}</td>
                <td>
                    <a href="{{ path('video_game_show', {'id': video_game.id}) }}">show</a>
                    <a href="{{ path('video_game_edit', {'id': video_game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_game_new') }}">Create new</a>
{% endblock %}
